/* Side Menu */

#sidebar-wrapper {
  top: 0 !important;
  margin-right: -250px !important;
  right: 0 !important;
  width: 250px !important;
  background: #E0E0E0 !important;
  position: fixed !important;
  height: 100% !important;
  overflow-y: auto !important;
  z-index: 1000 !important;
  -webkit-transition: all 0.4s ease 0s !important;
  -moz-transition: all 0.4s ease 0s !important;
  -ms-transition: all 0.4s ease 0s !important;
  -o-transition: all 0.4s ease 0s !important;
  transition: all 0.4s ease 0s !important;

  border-left-style: solid !important;
  border-left-color: #5cb85c !important;
  border-width: 0px !important;
  /*opacity: 0.8 !important;*/
  box-shadow: -1px 1px 5px #888888;

}

.sidebar-nav {
  position: absolute !important;
  top: 0 !important;
  width: 250px !important;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.sidebar-nav li {
  line-height: 40px !important;
  text-indent: 20px !important;
}

.sidebar-nav li a {
  color: #999999 !important;
  display: block !important;
  text-decoration: none !important;
}

.sidebar-nav li a:hover {
  color: #fff !important;
  background: rgba(255,255,255,0.2) !important;
  text-decoration: none !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none !important;
}

.sidebar-nav > .sidebar-brand {
  /*height: 55px !important;*/
  /*line-height: 55px !important;*/
  font-size: 18px !important;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999 !important;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff !important;
  background: none !important;
}

#menu-toggle {
  top: 0 !important;
  right: 0 !important;
  position: fixed !important;
  z-index: 1 !important;
}



#sidebar-wrapper.active {
  right: 250px !important;
  width: 250px !important;
  -webkit-transition: all 0.4s ease 0s !important;
  -moz-transition: all 0.4s ease 0s !important;
  -ms-transition: all 0.4s ease 0s !important;
  -o-transition: all 0.4s ease 0s !important;
  transition: all 0.4s ease 0s !important;
}

.toggle {
  margin: 5px 5px 0 0 !important;
  position: fixed !important;

}

.title {
    background-color: rgba(0, 0, 0, .1)  !important;
    box-shadow: -1px 1px 5px #888;
}

.center-title{
    color:#009900;
    text-align:center;
    margin-left: 4px;
    font-size: 17px !important;
}

.white {
    color: #fff;
}

.green {
    color: #009900;
}

.subtitle {
    color: #494949 !important;
}
.product-name {
    color: #009900;
}

img.small {
    height:75px !important;
}


.row {
margin-left: -5px !important;
margin-right: -15px !important;
}

#circle {
    background-color: #ffffff !important;
    border: 5px solid #009530 !important;
    border-radius: 80px !important;
    height: 160px !important;
    margin: 10px auto !important;
    padding: 32px 20px !important;
    text-align: center !important;
    width: 160px !important;
    margin-left: 20px !important;
}
.centered {
  display: inline-block;
  width: 30px;
  font-size: 60px !important;
}

.calif-neutra {
    color: #D58512;
    font-size: 20px !important;
}
.calif-ok {
    color: #398439;
    font-size: 20px !important;
}

.calif-no {
    color: #D9534F;
    font-size: 20px !important;
}